<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.leepon.mapper.TChinaCityMapper">

   <resultMap id="BaseResultMap" type="cn.leepon.po.TChinaCity">
		<id column="iAutoID" property="id" jdbcType="INTEGER" />
		<result column="sName" property="name" jdbcType="VARCHAR" />
		<result column="iParentid" property="parentId" jdbcType="INTEGER" />
		<result column="iSort" property="sort" jdbcType="INTEGER" />
		<result column="iStatus" property="status" jdbcType="INTEGER" />
		<result column="iCreateTime" property="createTime" jdbcType="INTEGER" />
		<result column="iUpdateTime" property="updateTime" jdbcType="INTEGER" />
   </resultMap>
   

   <select id="listCity" resultMap="BaseResultMap">
    
     select * from t_china_city
     
   </select>

</mapper>